{:build :dev
 :behind-proxy false
 :proto "http"
 :port 8080
 :host "localhost" ;; adjust hostname
 :user "mail:eve@topiq.es"
 ;; only do this for CDVCS' you control and do it on one peer
 ;; to avoid conflict management!
 :hooks {[#".*"
          #uuid "26558dfe-59bb-4de4-95c3-4028c56eb5b5"]
         [["mail:eve@topiq.es"
           #uuid "26558dfe-59bb-4de4-95c3-4028c56eb5b5"]]}
 :connect ["wss://topiq.es/replikativ/ws"]
 :mail-config {:host "smtp.topiq.es"}
 :trusted-hosts #{"topiq.es" "78.47.61.129"}
 }
