html, body {
    font-family: 'Varela Round', sans-serif;
}

.selected-entry {
    border-left: 4px solid steelblue;
}

#send-button {
    height: 100%;
    line-height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 20;
    padding-left: 20;
}

#general-input-btn{
    height: 100%;
    line-height: 100%;
}
