<html>
  <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <link id="custom-css" rel="stylesheet" href="../public/style.css"/>
  </head>
  <body>

    <ul class="list-group">
    <!-- topiq -->
    <li class="list-group-item topiq">
      <!-- topiq header -->
      <div class="topiq-header">
        <!-- topiq text -->
        <h4>
          <a href="#" id="back-btn"><span class="glyphicon glyphicon-chevron-left"></span></a>
          <text class="topiq-text">TOPIQ will be a very nice <a>#social</a> discourse <a>#network</a> in the near future. Visit us here <a href="https://topiq.es" target="_blank">topiq.es</a> </text>
        </h4>
        <!-- topiq text end -->

        <ul class="list-inline">
          <!-- topiq author -->
          <li>
            <small>
              <em class="text-primary topiq-author">
                EVE
              </em>
            </small>
          </li>
          <!-- topiq author end -->

          <!-- topiq timestamp -->
          <li>
            <small class="text-muted topiq-ts">
              TIMESTAMP
            </small>
          </li>
          <!-- topiq timestamp end -->

        </ul>
      </div>
      <!--post header end-->

      <!-- argument list -->
      <br>
      <ul class="list-group arguments">
        <!-- argument -->
        <li class="list-group-item argument">
          <p class="argument-text">ARGUMENT</p>

          <!-- aditional infos -->
          <ul class="list-inline">

            <!-- argument author -->
            <li>
              <small>
                <em class="text-primary argument-author">
                  AUTHOR
                </em>
              </small>
            </li>
            <!-- argument author end -->

            <!-- argument timestamp -->
            <li>
              <small class="argument-ts text-muted">
                TIMESTAMP
              </small>
            </li>
            <!-- argument timestamp end -->

          </ul>
          <!-- aditional infos end -->

        </li>
        <!-- argument end -->
      </ul>
      <!-- argument list end-->
    </li>
    </ul>
    <!--topiq end -->

    <!-- primary input -->
    <div class="input-group">
      <textarea class="form-control input-lg" type="text" id="general-input-form" rows="4" style="resize:vertical;" placeholder="Write a new argument..."></textarea>
      <span class="input-group-btn" id="general-input-btn">
        <button class="btn btn-primary btn-lg" id="argument-btn">
          <span class="glyphicon glyphicon-comment"></span>
        </button>
      </span>
    </div>
    <!-- primary input -->

   <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
