<html>
  <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>

  <body>
    <p id="nav-current-user" class="navbar-text"></p>
    <div class="navbar-form navbar-right">
      <input id="nav-input-field" type="text" class="form-control" placeholder="Search ..."/>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
