<html>
  <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
  <body>
    <!-- post collection -->
    <div id="post-list" >

      <ul class="list-group">
        <!-- post -->
        <li class="list-group-item post">
          <!-- comment counter -->
          <span class="badge comment-counter">42</span>
          <!-- comment counter end -->

          <!-- post header -->
          <div class="post-header" data-toggle="collapse" href="#post-ID">
            <!-- post title -->
            <h4 class="list-group-item-heading post-header-text">TITLE</h4>
            <!-- post title end -->

            <div class="row">
              <div class="col-md-9 col-xs-9">

                <!-- hashtag list -->
                <ul class="list-inline post-header-hashtags">

                  <!-- title hashtag item -->
                  <li class="post-header-hashtag">
                    <small class="post-header-hashtag-text">
                      #hashtag-1
                    </small>
                  </li>
                  <!-- title hashtag item end -->

                </ul>
                <!-- hashtag list end -->

              </div>
              <div class="col-md-3 col-xs-3">

                <!-- post author -->
                <p class="text-right text-primary">
                  <em class="post-header-author">
                    Eve
                  </em>
                </p>
                <!-- post author end -->

              </div>
            </div>
          </div>
          <!--post header end-->

          <!-- detail -->
          <div class="panel-collapse collapse post-detail" id="post-detail-ID">
            <!-- link detail item -->
            <a class="post-detail-url" href="#" target="_blank">
            </a>
            <!-- link detail end -->

            <!-- link detail item -->
            <p class="post-detail-text">
              DETAIL
            </p>
            <!-- link detail end -->

            <ul class="list-group comments">
              <!-- link detail comment item end -->
              <li class="list-group-item comment">
                <p class="comment-text">
                  COMMENT
                </p>

                <!-- aditional infos -->
                <ul class="list-inline">

                  <!-- link detail comment author -->
                  <li>
                    <small>
                      <em class="text-primary comment-author">
                        AUTHOR
                      </em>
                    </small>
                  </li>
                  <!-- link detail comment author end -->

                  <!-- link detail comment timestamp -->
                  <li>
                    <small class="comment-ts">
                      TIMESTAMP
                    </small>
                  </li>
                  <!-- link detail comment timestamp end -->

                </ul>
                <!-- aditional infos end -->

              </li>
              <!-- link detail comment item end -->

            </ul>
          </div>
          <!-- detail end-->

        </li>
        <!--link item end -->

    </div>
    <!-- entry list end -->
</div>
<!-- post list end -->
<!-- primary input -->
   <div class="input-group">
     <textarea class="form-control input-lg" type="text" id="general-input-form" rows="4" style="resize:vertical;" placeholder="Write a new post..."></textarea>
     <span class="input-group-btn" id="general-input-btn">
       <button class="btn btn-primary btn-lg" id="send-button">
         <span id="send-button-icon" class="glyphicon glyphicon-send"></span>
       </button>
     </span>
   </div>
   <!-- primary input -->

   <div id="registration-modal-container">
   </div>

   <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
