<html>
  <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" type="text/css">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
  <body style="font-family: 'Varela Round', sans-serif;">

    <!-- search -->
    <!--<form class="navbar-form navbar-left" role="search">
      <input id="nav-input-field" type="text" class="form-control" placeholder="Search ..."/>
    </form>-->
    <!-- search end -->

    <!-- user management -->
    <div id="nav-btn-user" class="navbar-text navbar-right navbar-btn">
      <div class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#" id="nav-user-btn">
          <span class="glyphicon glyphicon-user"></span>
          <span id="nav-current-user">Not logged in.</span>
          <span class="caret"/>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li id="login-btn"><a href="#" data-toggle="modal" data-target="#login-modal">Login</a></li>
          <li id="export-btn" class="disabled"><a href="#">Export</a></li>
          <li class="divider"></li>
          <li id="about-btn"><a href="#" data-toggle="modal" data-target="#about-modal">About</a></li>
        </ul>
      </div>
    </div>
    <!-- user management end -->

    <!-- login -->
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="login-modal-title">Login by Mail</h4>
          </div>
          <div class="modal-body">
              <h4>THIS IS ALPHA-QUALITY SOFTWARE, DON'T EXPECT ANY RELIABILITY YET.</h4>
            <p>By proceeding you agree that all your open contributions to the content of this site will be put under a <a href="http://creativecommons.org/licenses/by-sa/4.0/">Creative-Commons 4.0 Share-Alike licence.</a> as far as applicable in your jurisdiction. This means all the data here also belongs to you. We will add private (end-to-end) encrypted repositories in the future and you will be able to share selectively either per trust through encryption or by an open data licence.</p>
            <input class="form-control" type="text" id="login-user-input" placeholder="E-Mail"></input>
          </div>
          <div class="modal-footer">
            <button type="button" id="modal-login-btn" class="btn btn-primary" data-dismiss="modal">Log me in!</button>
          </div>
        </div>
      </div>
    </div>
    <!-- login end -->

    <!-- about -->
    <div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="login-modal-title">About</h4>
          </div>
          <div class="modal-body">
            <p>
              This application implements social networking features on top of a
              <a target="_blank" href="https://github.com/replikativ/replikativ">decentralized distributed database.</a>

              You can run your own peer and extend the
              <a target="_blank" href="https://github.com/kordano/topiq">application through plugins or roll your own application on the same data!(base).</a>
                          </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- about end -->

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
