<html>
  <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    <link id="custom-css" rel="stylesheet" href="../public/style.css"/>
  </head>
  <body>
    <!-- topiqs list -->
    <div id="topiq-list">

      <ul class="list-group">
        <!-- topiq -->
        <li class="list-group-item topiq">
          <!-- comment counter -->
          <span class="badge vote-counter">0</span>
          <!-- comment counter end -->

          <!-- topiq header -->
          <div class="topiq-header">
            <!-- topiq text -->
            <h4 class="list-group-item-heading">
              <text class="topiq-text">TOPIQ will be a very nice <a>#social</a> discourse <a>#network</a> in the near future. Visit us here <a href="https://lc.polyc0l0r.net" target="_blank">topiq.es</a></text>

            </h4>
            <!-- topiq text end -->
            <ul class="list-inline">
              <!-- topiq author -->
              <li>
                <small>
                  <em class="text-primary topiq-author">
                    EVE
                  </em>
                </small>
              </li>
              <!-- topiq author end -->

              <!-- topiq timestamp -->
              <li>
                <small class="text-muted topiq-ts">
                  TIMESTAMP
                </small>
              </li>
              <!-- topiq timestamp end -->
              <!-- topiq timestamp -->
              <li>
                <a href="#" class="comment-ref"><text class="comment-counter">42</text> comments...</a>
              </li>
              <!-- topiq timestamp end -->
            </ul>
          </div>
          <!--post header end-->
        </li>
        <!--topiq end -->
    </div>
    <!-- topiqs list end -->

    <!-- primary input -->
    <div class="input-group">
      <textarea class="form-control input-lg" type="text" id="general-input-form" rows="4" style="resize:vertical;" placeholder="Write a new post..." maxlength="160"></textarea>
      <span class="input-group-btn" id="general-input-btn">
        <button class="btn btn-primary btn-lg" id="post-btn">
          <span class="glyphicon glyphicon-send"></span>
        </button>
      </span>
    </div>
    <!-- primary input -->

   <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
