<html>
  <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
  <body>
    <!-- topiqs list -->
    <div id="topiq-list">

      <ul class="list-group">
        <!-- topiq -->
        <li class="list-group-item topiq">
          <!-- comment counter -->
          <span class="badge comment-counter">42</span>
          <!-- comment counter end -->

          <!-- topiq header -->
          <div class="topiq-header" data-toggle="collapse" href="#comments-ID">
            <!-- topiq text -->
            <h4 class="list-group-item-heading topiq-text">TOPIQ will be a very nice <a>#social</a> discourse <a>#network</a> in the near future. Visit us here <a href="https://lc.polyc0l0r.net" target="_blank">topiq.es</a> </h4>
            <!-- topiq text end -->

            <ul class="list-inline">
              <!-- topiq author -->
              <li>
                <small>
                  <em class="text-primary topiq-author">
                    EVE
                  </em>
                </small>
              </li>
              <!-- topiq author end -->

              <!-- topiq timestamp -->
              <li>
                <small class="text-muted topiq-ts">
                  TIMESTAMP
                </small>
              </li>
              <!-- topiq timestamp end -->

            </ul>
          </div>
          <!--post header end-->

          <!-- comment list -->
          <div class="panel-collapse collapse topiq-comments" id="comments-ID">
            <ul class="list-group comments">
              <!-- comment -->
              <li class="list-group-item comment">
                <p class="comment-text">COMMENT</p>

                <!-- aditional infos -->
                <ul class="list-inline">

                  <!-- comment author -->
                  <li>
                    <small>
                      <em class="text-primary comment-author">
                        AUTHOR
                      </em>
                    </small>
                  </li>
                  <!-- comment author end -->

                  <!-- comment timestamp -->
                  <li>
                    <small class="comment-ts text-muted">
                      TIMESTAMP
                    </small>
                  </li>
                  <!-- comment timestamp end -->

                </ul>
                <!-- aditional infos end -->

              </li>
              <!-- comment end -->
            </ul>
          </div>
          <!-- comment list end-->
        </li>
        <!--topiq end -->
    </div>
    <!-- topiqs list end -->

    <!-- primary input -->
    <div class="input-group">
      <textarea class="form-control input-lg" type="text" id="general-input-form" rows="4" style="resize:vertical;" placeholder="Write a new post..."></textarea>
      <span class="input-group-btn" id="general-input-btn">
        <button class="btn btn-primary btn-lg" id="send-button">
          <span id="send-button-icon" class="glyphicon glyphicon-send"></span>
        </button>
      </span>
    </div>
    <!-- primary input -->

   <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
